html {
    background-color: #f2f2ed;
    font-size: 14px;
    font-family:sans-serif;
}

p, li {
    font-size: 16px;
    color:slategray;
    width: fit-content;
    line-height: 120%;
    letter-spacing: 1px;
}

.c-headers {
    text-align: center;
}

.standard-size {
    height: 600px;
    width: 800px;
}

h1 {
    letter-spacing: 3px;
    text-shadow: 3px 3px 1px slategray;
}

h3, h2 {
    color:black;
}

img {
    width: fit-content;
    border: 5px solid black;
    display: block;
    margin: 0 auto;
}

a:link {
    color: #8494b5;
}

a:visited {
    color: #907d96;
}